.penguin{
	width: 200px;
	height: 200px;
	padding: 30px;
	/* border: 1px solid #000; */
	
}
.hat{
	width: 50%;
	height: 30%;
}
.ball1{
	width: 13%;
	height: 20%;
	background-color: #f4d040;
	border-radius: 100%;
	position: relative;
	left: 85%;
	top: 8%;
	z-index: 17;
	border-right: 8px solid #dc6d13;
	border-top: 3px solid #dc6d13;
	border-left: 3px solid #dc6d13;
	border-bottom: 3px solid #dc6d13;

}
.ball2{
	width: 85%;
	height: 120%;
	background:radial-gradient(circle farthest-corner at 60% 25%, #ffe693 0%, #df3416 50%);
	position: relative;
	left: 58%;
	top: -55%;
	z-index: 13;
	clip-path: circle(50% at 50% 0%);
	transform: rotate(180deg);

}
.line{
	width: 100%;
	height: 15%;
	background-color: #eb791d;
	border-radius: 30px;
	position: relative;
	z-index: 15;
	left: 50%;
	top: -63%;
}

.body{
	background-color: #000;
	border-radius: 100%;
	height: 80%;
	width: 60%;
	position: relative;
	left: 20%;
	top: -7%;
	z-index: 11;
}
.tummy{
	background-color: #fff;
	border-radius: 100%;
	height: 58%;
	width: 63%;
	position: relative;
	left: 18%;
	top: -50%;
}
.hand1{
	background-color: #000;
	border-radius: 100%;
	height: 30%;
	width: 15%;
	position: relative;
	left: -13%;
	top: -108%;
	transform: rotate(40deg);
}
.hand2{
	background-color: #000;
	border-radius: 100%;
	height: 30%;
	width: 15%;
	position: relative;
	left: 97%;
	top: -139%;
	transform: rotate(-40deg);
}
.leg1{
 	width:0;
 	height:0;
	border-color: rgb(233, 153, 49) transparent  transparent transparent;
  	border-style:solid;
  	border-width: 20px;
  	transform: rotate(260deg);
	position: relative;
	left: 32%;
	top: -22%;
	z-index: 1;
}
.leg2{
 	width:0;
 	height:0;
	border-color: rgb(233, 153, 49) transparent  transparent transparent;
  	border-style:solid;
  	border-width: 20px;
  	transform: rotate(-260deg);
	position: relative;
	left: 48%;
	top: -42%;
	z-index: 1;
}
.nose1{
	width: 0;
 	height: 0;
	border-color: #f2ce3f transparent  transparent transparent;
  	border-style:solid;
  	border-width: 11px 8px;
	  transform: rotate(90deg);
	position: relative;
	left: 34%;
	top: -24%;
	z-index: 25;
}
.nose2{
	width: 0;
 	height: 0;
	border-color: #dc8411 transparent  transparent transparent;
  	border-style:solid;
  	border-width: 11px 8px;
	  transform: rotate(270deg);
	position: relative;
	left: 51%;
	top: -37.7%;
	z-index: 25;
}
.eyes{
	background-color: #fff;
	border-radius: 100%;
	height: 30%;
	width: 38%;
	position: relative;
	top: 13%;
	z-index: 8;
}
.eye1{
	position: relative;
	left: 18%;
}
.eye2{
	position: relative;
	left: 44%;
	top: -17%;
}
.ey{
	background-color: #000;
	border-radius: 100%;
	height: 50%;
	width: 35%;
	position: relative;
	top: 30%;
	left: 25%;
}
.e{
	background-color: #fff;
	border-radius: 100%;
	height: 33%;
	width: 20%;
	position: relative;
	top: 20%;
	left: 25%;
}