body{
	padding: 0;
	margin: 0;
}
/* ******************** Фон из картинок ******************* */
.background-color{
	background-color: #000;
	width: 100%;
	height: 700px;
	position: absolute;
	top: 0;
	z-index: -5;
}
/* Затемнение */
.darkening{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.653);
}
/* ************************** Сайт ********************** */
.web-site{
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* *************************   Шапка   ******************* */
header{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.name-site, .logo{
	display: flex;
	flex-direction: row;
}
.logo p{
	font-weight: bolder;
	font-style: italic;
	color: #fff;
}
.line1{
	background-color: #fff;
	border-radius: 10px;
	margin: 15px 15px 0px 15px;
	display: flex;
	flex-direction: row;
}
.line2{
	background-color: #fff;
	margin: -15px 15px 10px 15px;
	border-radius: 10px;
}
.line2 form{
	display: flex;
	/* flex-direction: row; */
	align-items: center;
	flex-wrap: wrap;
}
.line2 form div{
	margin: 1.3% 1.3% 0% 1.8%;
}
/* *************************   Меню   ******************* */
menu{
	display: flex;
	flex-direction: row;
}
menu button{
	background-color: #fff;
	border-radius: 10px 20px 10px 20px;
	border: 2px solid #9FC5F1;
	box-shadow: 0px 7px 10px 0px rgba(86, 107, 132, 0.3) inset;
}
menu button a{
	text-decoration: none;
	color: #000;
}
menu button:hover{
	background-color: #3c78bd;
	box-shadow: 0px 7px 10px 0px rgba(138, 181, 233, 0.507) inset;
	border: 2px solid #c2dbf8;
}
menu button a:hover{
	color: #c5daf3;
}
/* ********************   Основной контент   ************** */
.block-3 p{
	position: absolute;
	font-weight: bolder;
	border: 2px solid #9FC5F1;
	padding: 2px;
	border-radius: 15px;
	background-color: #5992d3;
	color: #fff;
	padding: 10px;
}
.block-3 p:hover{
	border: 2px solid #000000;
	border-radius: 15px;
	color: #000;
}
/**************** Виды туризма (отдыха) ****************/
.block-4 .box img{
	width: 100%;
	border-radius: 15px;
}
.block-4 .box div{
	border-bottom: 3px solid #A2E2F0;
	border-radius: 15px;
	background-color: #eefcff;
	text-align: center;
}
/************************ ПАРТНЁРЫ *********************/
.block-5 .box{
	display: flex;
	flex-direction: row;
}
.block-5 .box div{
	background-color: #c2dbf8;
	border-radius: 100%;
	margin-right: 3%;
}
.block-5 .box p{
text-align: center;
	font-size: 2em;
}
/************************** Футер **********************/
footer{
	margin-top: 5%;
	width: 125%;
	background-color: #6a86a1;
}
footer .box{
	display: flex;
	flex-direction: row;
}
footer .box div{
	width: 200%;
}
footer .box div h4{
	color: #dab03d;
	text-align: center;
}
footer .box div .icons{
	display: flex;
	flex-direction: column;
}
footer .box div .icons img{
	width: 5%;
	margin-bottom: 3%;
	margin-left: 23%;
}
footer .box div p{
	color: #fff;
	/* text-align: center; */
}
footer hr{
	color: rgba(255, 255, 255, 0.219);
}
footer p{ 
	color: rgba(255, 255, 255, 0.26);
}





@media (min-width: 1000px){
/* ******************** Фон из картинок ******************* */
/* Блок с картинками */
.background{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.background-color img{
	width: 100%;
	height: 100%;
}
/* ************************** Сайт ********************** */
/* *************************   Шапка   ******************* */
header{
	height: 700px;
}
.logo img{
	width: 90px;
	height: 80px;
	border-radius: 100%;
	border: 1.5mm ridge #A2E2F0;
}
.logo p{
	font-size: 2em;
	margin-top: 14%;
	margin-left: -25%;
}
.tel{
	font-size: 1.4em;
	margin-left: 17%;
}
.order{
	font-size: 1.4em;
	margin-left: 5%;
	margin-right: 5%;
	border: 0.1em solid #969696;
	height: 1.4em;
}
.clock_work{
	color: #C5C5C5;
	font-size: 1.4em;
	text-align: right;
}
.words p{
	font-size: 3.6em;
}
blockquote{
	font-size: 2em;
}
cite{
	font-size: 0.7em;
	margin-left: 60%;
}
/* Поиск */
.search{
	width: 90%;
	height: 25%;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	margin-left: 5%;
	margin-bottom: -2%;
	border-bottom: 2px solid #A2E2F0;
}
.line1{
	height: 50%;
	width: 10%;
}
.line1 p{
	font-size: 1.4em;
	font-weight: bold;
	margin: 10% 50% 0% 15%;
}
.line2{
	height: 35%;
}
/* *************************   Меню   ******************* */
menu{
	height: 100px;
	justify-content: space-between;
	padding: 0;
}
menu button{
	padding: 10px 15px 10px 15px;
	margin: 20px;
}
menu button a{
	font-size: 1.8em;
}
/* ********************   Основной контент   ************** */
.block-1 h2{
	text-align: center;
	font-size: 2.3em;
}
.block-1 p{
	font-size: 1.2em;
	text-align: center;
}
/* Пингвиненок */
.block-2{
	margin-left: 40%;
	margin-bottom: 3%;
}
.block-3 p{
	margin-left: 32%;
	margin-top: -20%;
	font-size: 2.2em;
}
/**************** Виды туризма (отдыха) ****************/
.block-4 h2, .block-5 h2{
	margin-top: 5%;
	text-align: center;
	font-size: 2.3em;
}
.block-4 .box{
display: flex;
flex-direction: row;
}
.block-4 .box div{
	width: 30%;
	margin-right: 3%;
}
.block-4 .box h3{
	font-size: 1.4em;
}
/************************ ПАРТНЁРЫ *********************/
.block-5 .box div{
	width: 40%;
	height: 100px;
}
/* Мальчик */
.block-6{
	margin-left: 30%;
}
/************************** Футер **********************/
footer .box{
	width: 80%;
	margin-top: 2%;
}
footer .box div{
	margin-right: 5%;
}
footer .box div h4{
	font-size: 1.4em;
}
footer .box div p{
	font-size: 1.1em;
	text-align: center;
}
}


/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

@media (min-width: 800px) and (max-width: 1000px){
/* ******************** Фон из картинок ******************* */
.background-color{
	width: 100%;
	height: 600px;
}
/* Блок с картинками */
.background{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.background-color img{
	width: 100%;
	height: 100%;
}
/* ************************** Сайт ********************** */
/* *************************   Шапка   ******************* */
header{
	height: 600px;
}
.logo img{
	width: 70px;
	height: 60px;
	border-radius: 100%;
	border: 1.3mm ridge #A2E2F0;
}
.logo p{
	font-size: 1.4em;
	margin-top: 17%;
	margin-left: -20%;
}
.tel{
	font-size: 1.2em;
	margin-left: 15%;
}
.order{
	font-size: 1.2em;
	margin-left: 5%;
	margin-right: 5%;
	border: 0.1em solid #969696;
	height: 1.2em;
}
.clock_work{
	color: #C5C5C5;
	font-size: 1.2em;
	text-align: right;
}
.words p{
	margin-top: 7%;
	font-size: 2.6em;
	text-align: center;
}
blockquote{
	font-size: 2em;
	text-align: center;
}
cite{
	font-size: 0.7em;
	margin-left: 60%;
}
/* Поиск */
.search{
	width: 90%;
	height: 28%;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 4%;
}
.line1{
	height: 35%;
	width: 11%;
}
.line1 p{
	font-size: 1.3em;
	font-weight: bold;
	margin: 10% 50% 0% 15%;
}
.line2{
	height: 55%;
}
.line2 select option{
	font-size: 20px;
}
.line2 input{
	size: 20px;
}
/* *************************   Меню   ******************* */
menu{
	height: 60px;
	width: 0%;
	justify-content: center;
	padding: 0;
}
menu button{
	padding: 10px 15px 10px 15px;
	margin: 5px;
}
menu button a{
	font-size: 20px;
}
/* ********************   Основной контент   ************** */
.block-1 h2{
	text-align: center;
	font-size: 2em;
}
.block-1 p{
	font-size: 1.1em;
	text-align: center;
}
/* Пингвиненок */
.block-2{
	margin-left: 30%;
}
.block-3{
	margin-top: 5%;
}
.block-3 p{
	margin-left: 28%;
	margin-top: -20%;
	font-size: 1.7em;
}
/**************** Виды туризма (отдыха) ****************/
.block-4 h2, .block-5 h2{
	margin-top: 5%;
	text-align: center;
	font-size: 2em;
}
.block-4 .box{
display: flex;
flex-direction: row;
}
.block-4 .box div{
	width: 30%;
	margin-right: 3%;
}
.block-4 .box h3{
	font-size: 1.2em;
}
/************************ ПАРТНЁРЫ *********************/
.block-5 .box div{
	width: 40%;
	height: 100px;
}
.block-5 .box p{
text-align: center;
	font-size: 2em;
}
/* Мальчик */
.block-6{
	margin-left: 25%;
}
/************************** Футер **********************/
footer .box{
	width: 80%;
	margin-top: 2%;
	margin-left: 0%;
}
footer .box div{
	margin-right: 5%;
}
footer .box div h4{
	font-size: 1.2em;
}
footer .box div p{
	font-size: 0.9em;
	text-align: center;
}
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */



@media (min-width: 600px) and (max-width: 800px){
/* ******************** Фон из картинок ******************* */
.background-color{
	width: 100%;
	height: 600px;
	background-image: url(img/CAPA_HOMEPAGE_LOCATIONS_SYDNEY_2.jpg);
	background-repeat: no-repeat;
}
.background .im{
	display: none;
}
/* ************************** Сайт ********************** */
/* *************************   Шапка   ******************* */
header{
	height: 590px;
}
.name-site, .logo{
	padding: 1%;
}
.logo img{
	width: 65px;
	height: 55px;
	border-radius: 100%;
	border: 1.3mm ridge #A2E2F0;
}
.logo p{
	font-size: 1.3em;
	margin-top: 17%;
	margin-left: -20%;
}
.tel{
	font-size: 1.1em;
	margin-left: 18%;
}
.order{
	font-size: 1.1em;
	margin-left: 5%;
	margin-right: 0%;
	border: 0.1em solid #969696;
	height: 1.2em;
}
.clock_work{
	display: none;
}
.words p{
	margin-top: 7%;
	font-size: 2.4em;
	text-align: center;
}
blockquote{
	font-size: 1.4em;
	text-align: center;
}
cite{
	font-size: 0.7em;
	margin-left: 60%;
}
/* Поиск */
.search{
	width: 90%;
	height: 28%;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 4%;
}
.line1{
	height: 38%;
	width: 11%;
}
.line1 p{
	font-size: 1.1em;
	font-weight: bold;
	margin: 10% 50% 0% 15%;
}
.line2{
	height: 55%;
}
.line2 select option{
	font-size: 20px;
}
.line2 input{
	size: 20px;
}
/* *************************   Меню   ******************* */
menu{
	height: 50px;
	width: 100%;
	justify-content: center;
	padding: 0;
}
menu button{
	padding: 7px 11px 7px 11px;
	margin: 5px;
}
menu button a{
	font-size: 15px;
}
/* ********************   Основной контент   ************** */
.block-1 h2{
	text-align: center;
	font-size: 1.8em;
	margin-top: 0%;
}
.block-1 p{
	font-size: 1em;
	text-align: center;
}
/* Пингвиненок */
.block-2{
	margin-left: 28%;
}
.block-3{
	margin-top: 2%;
}
.block-3 p{
	margin-left: 30%;
	margin-top: -19%;
	font-size: 1.2em;
}
/**************** Виды туризма (отдыха) ****************/
.block-4 h2, .block-5 h2{
	margin-top: 5%;
	text-align: center;
	font-size: 1.8em;
}
.block-4 .box{
display: flex;
flex-direction: column;
align-items: center;
}
.block-4 .box div{
	width: 70%;
	margin-top: 3%;
}
.block-4 .box h3{
	font-size: 1.2em;
}
/************************ ПАРТНЁРЫ *********************/
.block-5 .box div{
	width: 40%;
	height: 100px;
}
/* Мальчик */
.block-6{
	margin-left: 20%;
}
/************************** Футер **********************/
footer .box{
	width: 75%;
	margin-top: 2%;
	margin-left: 2%;
}
footer .box div h4{
	font-size: 1.1em;
}
footer .box div p{
	font-size: 0.8em;
	text-align: center;
}
}


@media (max-width: 600px){
/* ******************** Фон из картинок ******************* */
.background-color{
	width: 100%;
	height: 600px;
	background-image: url(img/CAPA_HOMEPAGE_LOCATIONS_SYDNEY_2.jpg);
	background-repeat: no-repeat;
}
.background .im{
	display: none;
}
/* ************************** Сайт ********************** */
/* *************************   Шапка   ******************* */
header{
	height: 590px;
	padding: 2%;
}
.name-site, .logo{
	padding: 1%;
}
.logo img{
	width: 60px;
	height: 50px;
	border-radius: 100%;
	border: 1.1mm ridge #A2E2F0;
}
.logo p{
	font-size: 1.3em;
	margin-top: 13%;
	margin-left: -20%;
}
.tel{
	display: none;
}
.order{
	font-size: 1.2em;
	margin-left: 20%;
	border: 0.1em solid #969696;
	height: 1.2em;
}
.clock_work{
	display: none;
}
.words p{
	margin-top: 7%;
	font-size: 2.2em;
	text-align: center;
}
blockquote{
	font-size: 1.3em;
	text-align: center;
}
cite{
	font-size: 0.7em;
	margin-left: 60%;
}
/* Поиск */
.search{
	width: 90%;
	height: 32%;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 4%;
}
.line1{
	height: 30%;
	width: 15%;
}
.line1 p{
	font-size: 1em;
	font-weight: bold;
	margin: 10% 50% 0% 15%;
}
.line2{
	height: 58%;
	padding-top: 2%;
}
.line2 select option{
	font-size: 20px;
}
.line2 input{
	size: 20px;
}
/* *************************   Меню   ******************* */
menu{
	flex-wrap: wrap;
	height: 50px;
	width: 100%;
	justify-content: center;
	padding: 0;
}
menu button{
	padding: 7px 11px 7px 11px;
	margin: 5px;
}
menu button a{
	font-size: 16px;
}
/* ********************   Основной контент   ************** */
.block-1 h2{
	text-align: center;
	font-size: 1.5em;
	margin-top: 9%;
}
.block-1 p{
	font-size: 0.9em;
	text-align: center;
}
/* Пингвиненок */
.block-2{
	margin-left: 25%;
}
.block-3{
	margin-top: 2%;
}
.block-3 p{
	margin-left: 27%;
	margin-top: -20%;
	font-size: 1.1em;
}
.block-3 button{
	margin-left: 33%;
	margin-top: -15%;
	font-size: 1.1em;
}
/**************** Виды туризма (отдыха) ****************/
.block-4 h2, .block-5 h2{
	margin-top: 5%;
	text-align: center;
	font-size: 1.8em;
}
.block-4 .box{
display: flex;
flex-direction: column;
align-items: center;
}
.block-4 .box div{
	width: 70%;
	margin-top: 3%;
}
.block-4 .box h3{
	font-size: 1.2em;
}
/************************ ПАРТНЁРЫ *********************/
.block-5 .box div{
	width: 40%;
	height: 100px;
}
/* Мальчик */
.block-6{
	margin-left: 18%;
}
/************************** Футер **********************/
footer .box{
	width: 75%;
	margin-top: 2%;
}
footer .box div h4{
	font-size: 1.1em;
}
footer .box div p{
	font-size: 0.8em;
	text-align: center;
	margin-left: 2%;
}
}












