.flex{
	display: flex;
	flex-direction: row;
}
.boy{
	display: flex;
	width: 300px;
	height: 300px;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	margin: 5%;
}
.boy:hover .box-1{
	order: 3;
}
.boy:hover .box-2{
	order: -1;
}
.boy:active .box-2{
	order: 2;
}
.boy:active .box-3 .i2{
	order: -2;
	transform: rotate(630deg);
   transition: 0.9s;
	opacity: 0;
}
.boy .box-3{
	animation: shake 3s;
	animation-delay: 3s;
}
.b{
	flex-basis: 250px;
	height: 250px;
	/* border: 1px solid #000; */
	margin: 10px;
	padding: 10px;
}
.b h2{
margin-left: 30%;
}
.box-2 .i1{
	position: relative;
	top: -25%;
}
.box-2 .i2{
	position: relative;
	top: -128%;
	opacity:0; /*Элемент полностью прозрачный (невидимый)*/
   transition: 2s; /*Скорость перехода состояния элемента*/
}
.box-2:hover .i2{
	opacity:1;
   transition: 2s;
}
.box-3{
	width: 300px;
}
.box-3 .i1{
	position: relative;
	top: -30%;
}
.box-3 .i2{
	position: relative;
	top: -130%;
	left: 15%;
	transition: 0.8s;
}
.box-3:active .i2{
  transform: rotate(630deg);
  transition: 0.7s;
}

@-webkit-keyframes shake {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
/* .shake:hover, .shake:focus{
-webkit-animation-name: shake;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
} */



